@primary-green: #93B874;

body {
    background-color: #f3f3f3;
    color: #545454;
    font-family: "Helvetica", "Nimbus Sans L", "Arial", "Liberation Sans", sans-serif;
    line-height: 1.4;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background-color: @primary-green;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;

    img {
        margin: 10px;
    }
}

section {
    margin-top: 70px;
    font-size: 1em;
    padding: 0;
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    background-color: white;
    width: 100%;
}

content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;

    .wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #intro {

            h1,
            p {
                padding: 0 26px;
            }
        }

        .step-wrapper {
            width: 100%;

            .step {
                img {
                    width: 100%;
                }

                .step-num {
                    text-indent: -100%;
                    overflow: hidden;
                    width: 75px;
                    height: 75px;
                    background-image: url(/img/labo/lettrine_l.jpg);
                    float: left;
                    margin: 2px 5px 5px 0;
                }
            }
        }
    }
}